.notification-top-left {
    position: fixed;
    left: 0;
    top: 0

} 

.notification-top-right {
    position: fixed;
    right: 0;
    top: 0
}

.notification-bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
}

.notification-bottom-left {
    position: fixed;
    left: 0;
    bottom: 0;
}

.notification-error {
    background-color: red;
}
.notification-warning {
    background-color: green;
}
.notification-info {
    background-color: blue
}